# 分组运算 groupby

In [1]:
import numpy as np
import pandas as pd

# 创建包含分组键和随机数据的 DataFrame
dict_obj = {
    'key1': ['a', 'b', 'a', 'b', 'a', 'b', 'a', 'a'],
    'key2': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
    'data1': np.random.randint(1, 10, 8),  # 随机生成 1 到 10 的整数
    'data2': np.random.randint(1, 10, 8)   # 随机生成 1 到 10 的整数
}

df_obj = pd.DataFrame(dict_obj)  # 转换为 DataFrame
print("原始数据：")
print(df_obj)
print('-' * 50)

# 按 key1 列分组，计算 data1 和 data2 列的均值
# 只选择数值列进行分组统计，避免非数值列引发错误
numeric_cols = ['data1', 'data2']  # 需要计算的数值列
k1_sum = df_obj.groupby('key1')[numeric_cols].mean().add_prefix('mean_')

print("按 key1 分组后的均值（添加前缀 'mean_'）：")
print(k1_sum)

原始数据：
  key1   key2  data1  data2
0    a    one      5      5
1    b    one      5      3
2    a    two      4      3
3    b  three      6      7
4    a    two      8      9
5    b    two      8      6
6    a    one      2      6
7    a  three      4      5
--------------------------------------------------
按 key1 分组后的均值（添加前缀 'mean_'）：
      mean_data1  mean_data2
key1
a       4.600000    5.600000
b       6.333333    5.333333

In [2]:
import pandas as pd
import numpy as np

# 创建示例数据
df_obj = pd.DataFrame({
    'key1': ['A', 'B', 'A', 'B', 'A', 'B'],  # 分组键
    'key2': ['C', 'D', 'C', 'D', 'C', 'D'],  # 分组键
    'value1': [10, 20, 30, 40, 50, 60],      # 数值列1
    'value2': [5, 10, 15, 20, 25, 30]        # 数值列2
})

# 输出原始数据
print("原始数据：")
print(df_obj)

# 选择数值列进行分组均值计算
num_cols = df_obj.select_dtypes(include=[np.number])  # 选择数值列
k1_sum_tf = df_obj.groupby('key1')[num_cols.columns].transform("mean").add_prefix('mean_')

# 输出分组计算后的结果
print("\n分组计算后的结果：")
print(k1_sum_tf)

# 将计算结果合并到原始 DataFrame
df_obj[k1_sum_tf.columns] = k1_sum_tf
print("\n合并后的数据：")
print(df_obj)

原始数据：
  key1 key2  value1  value2
0    A    C      10       5
1    B    D      20      10
2    A    C      30      15
3    B    D      40      20
4    A    C      50      25
5    B    D      60      30

分组计算后的结果：
   mean_value1  mean_value2
0         30.0         15.0
1         40.0         20.0
2         30.0         15.0
3         40.0         20.0
4         30.0         15.0
5         40.0         20.0

合并后的数据：
  key1 key2  value1  value2  mean_value1  mean_value2
0    A    C      10       5         30.0         15.0
1    B    D      20      10         40.0         20.0
2    A    C      30      15         30.0         15.0
3    B    D      40      20         40.0         20.0
4    A    C      50      25         30.0         15.0
5    B    D      60      30         40.0         20.0

# 数据连接 merge

In [3]:
import pandas as pd
import numpy as np

df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data1' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'key': ['a', 'b' ,'d'],
                        'data2' : np.random.randint(0,10,3)})

print(df_obj1)
print('-'*50)
print(df_obj2)

  key  data1
0   b      9
1   b      9
2   a      5
3   c      6
4   a      1
5   a      5
6   b      0
--------------------------------------------------
  key  data2
0   a      2
1   b      2
2   d      6

In [4]:
#默认连接使用相同的列名，连接方式是内连接
pd.merge(df_obj1, df_obj2)

  key  data1  data2
0   b      9      2
1   b      9      2
2   a      5      2
3   a      1      2
4   a      5      2
5   b      0      2

In [5]:
#左df和右df都拿索引连接
pd.merge(df_obj1, df_obj2,left_index=True,right_index=True)

  key_x  data1 key_y  data2
0     b      9     a      2
1     b      9     b      2
2     a      5     d      6

In [6]:
#左表和右表都拿key列来连接
pd.merge(df_obj1, df_obj2, on='key')

  key  data1  data2
0   b      9      2
1   b      9      2
2   a      5      2
3   a      1      2
4   a      5      2
5   b      0      2

In [7]:
# 更改列名
df_obj1 = df_obj1.rename(columns={'key':'key1'})
df_obj2 = df_obj2.rename(columns={'key':'key2'})
print(df_obj1)
print(df_obj2)

  key1  data1
0    b      9
1    b      9
2    a      5
3    c      6
4    a      1
5    a      5
6    b      0
  key2  data2
0    a      2
1    b      2
2    d      6

In [8]:
#左表以key1来连接，右表以key2来连接
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2')

  key1  data1 key2  data2
0    b      9    b      2
1    b      9    b      2
2    a      5    a      2
3    a      1    a      2
4    a      5    a      2
5    b      0    b      2

In [9]:
#全外连接
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='outer')  #全外连接

  key1  data1 key2  data2
0    a    5.0    a    2.0
1    a    1.0    a    2.0
2    a    5.0    a    2.0
3    b    9.0    b    2.0
4    b    9.0    b    2.0
5    b    0.0    b    2.0
6    c    6.0  NaN    NaN
7  NaN    NaN    d    6.0

In [10]:
#left join 等价于 left  join
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='left')

  key1  data1 key2  data2
0    b      9    b    2.0
1    b      9    b    2.0
2    a      5    a    2.0
3    c      6  NaN    NaN
4    a      1    a    2.0
5    a      5    a    2.0
6    b      0    b    2.0

In [11]:
# right等价于数据库的right join
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='right')

  key1  data1 key2  data2
0    a    5.0    a      2
1    a    1.0    a      2
2    a    5.0    a      2
3    b    9.0    b      2
4    b    9.0    b      2
5    b    0.0    b      2
6  NaN    NaN    d      6

In [12]:
# 处理重复列名
df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                        'data' : np.random.randint(0,10,3)})
#给相同的数据列添加后缀
print(pd.merge(df_obj1, df_obj2, on='key', suffixes=('_left', '_right')))

  key  data_left  data_right
0   b          8           4
1   b          6           4
2   a          7           0
3   a          0           0
4   a          0           0
5   b          1           4

In [13]:
# 按索引连接
df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data1' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'data2' : np.random.randint(0,10,3)}, index=['a', 'b', 'd'])
print(df_obj1)
print(df_obj2)

  key  data1
0   b      3
1   b      4
2   a      6
3   c      6
4   a      4
5   a      2
6   b      5
   data2
a      1
b      7
d      8

In [14]:
print(pd.merge(df_obj1, df_obj2, left_on='key', right_index=True))

  key  data1  data2
0   b      3      7
1   b      4      7
2   a      6      1
4   a      4      1
5   a      2      1
6   b      5      7

In [15]:
pd.merge(df_obj2,df_obj1, left_index=True, right_on='key')

   data2 key  data1
2      1   a      6
4      1   a      4
5      1   a      2
0      7   b      3
1      7   b      4
6      7   b      5

# 处理重复值

In [16]:
import pandas as pd
import numpy as np
df_obj = pd.DataFrame({'data1' : ['a'] * 4 + ['b'] * 4,
                       'data2' : np.random.randint(0, 4, 8)})
print(df_obj)

  data1  data2
0     a      3
1     a      3
2     a      0
3     a      2
4     b      1
5     b      3
6     b      0
7     b      0

In [17]:
print(df_obj.duplicated()) # 标记重复值

0    False
1     True
2    False
3    False
4    False
5    False
6    False
7     True
dtype: bool

In [18]:
df_obj[~df_obj.duplicated()]  #取出不重复行

  data1  data2
0     a      3
2     a      0
3     a      2
4     b      1
5     b      3
6     b      0

In [19]:
#按照某一列去重
print(df_obj.duplicated('data2'))

0    False
1     True
2    False
3    False
4    False
5     True
6     True
7     True
dtype: bool

In [20]:
df_obj1 = pd.DataFrame({'data1' :[np.nan] * 4,
                       'data2' :list('1235')})
df_obj1

   data1 data2
0    NaN     1
1    NaN     2
2    NaN     3
3    NaN     5

In [21]:
#在pd的duplicated认为空值和空值相等的
df_obj1.duplicated('data1')
print(df_obj1.drop_duplicates('data1'))

   data1 data2
0    NaN     1

In [22]:
print(df_obj.drop_duplicates())  #删除重复行
print(df_obj.drop_duplicates('data2'))

  data1  data2
0     a      3
2     a      0
3     a      2
4     b      1
5     b      3
6     b      0
  data1  data2
0     a      3
2     a      0
3     a      2
4     b      1

In [23]:
#如果要在原有的df上去重，需要加inplace=True
df_obj

  data1  data2
0     a      3
1     a      3
2     a      0
3     a      2
4     b      1
5     b      3
6     b      0
7     b      0

In [24]:
#map与applymap一样，但是map只能用于series，applymap只能用于df
ser_obj = pd.Series(np.random.randint(0,10,10))  #series 用map
print(ser_obj)

print(ser_obj.map(lambda x : x ** 2))

0    4
1    4
2    0
3    1
4    2
5    5
6    5
7    4
8    4
9    3
dtype: int32
0    16
1    16
2     0
3     1
4     4
5    25
6    25
7    16
8    16
9     9
dtype: int64

In [25]:
#异常值手动替换
ser_obj=pd.Series(np.arange(10),index=range(3,13))
# 单个值替换单个值
print(ser_obj.replace(1, -100))
print('-' * 20)
# 多个值替换一个值
print(ser_obj.replace(range(6,9), -100))
print('-' * 20)
# 多个值替换多个值
print(ser_obj.replace([4, 7], [-100, -200]))

3       0
4    -100
5       2
6       3
7       4
8       5
9       6
10      7
11      8
12      9
dtype: int64
--------------------
3       0
4       1
5       2
6       3
7       4
8       5
9    -100
10   -100
11   -100
12      9
dtype: int64
--------------------
3       0
4       1
5       2
6       3
7    -100
8       5
9       6
10   -200
11      8
12      9
dtype: int64

In [26]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'ac', 'd', 'e']})
df

   A  B   C
0  0  5   a
1  1  6   b
2  2  7  ac
3  3  8   d
4  4  9   e

In [27]:
#正则表达式替换
df.replace(to_replace=r'^a', value=100, regex=True)

   A  B    C
0  0  5  100
1  1  6    b
2  2  7  100
3  3  8    d
4  4  9    e

In [28]:
df.dtypes

A     int64
B     int64
C    object
dtype: object